@model SofttekFinalProjectFrontend.ViewModels.TransfersViewModel

<div class="modal fade" id="transfersFiduciaryToFiduciaryModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Transfers.</h5>
            </div>
            @using (Html.BeginForm("SendTransfersFiduciaryToFiduciary", "Transfers", FormMethod.Post))
            {
                <div class="modal-body">
                    <div class="row">
                        @Html.HiddenFor(x => x.UserId, new { id = "userIdHidden" })

                        <div class="col-md-6">
                            <div class="mt-1 mb-3">
                                <label class="form-control-label">CBU Origin: </label>
                                @Html.EditorFor(x => x.TransfersFiduciaryOrigin.Cbu, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            <div class="mt-1 mb-3">
                                <label class="form-control-label">Alias Origin</label>
                                @Html.EditorFor(x => x.TransfersFiduciaryOrigin.Alias, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            <div class="mt-1 mb-3">
                                <label class="form-control-label">Account Number Origin</label>
                                @Html.EditorFor(x => x.TransfersFiduciaryOrigin.AccountNumber, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            <div class="mt-1 mb-3">
                                <label class="form-control-label">Amount Origin</label>
                                @Html.EditorFor(x => x.TransfersFiduciaryOrigin.Amount, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            <div class="mt-1 mb-3">
                                <label class="form-control-label">Type Of Transfers Origin</label>
                                @Html.EditorFor(x => x.TransfersFiduciaryOrigin.TypeOfDeposit, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mt-1 mb-3">
                                <label class="form-control-label">CBU Destination: </label>
                                @Html.EditorFor(x => x.TransfersFiduciaryDestination.Cbu, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            <div class="mt-1 mb-3">
                                <label class="form-control-label">Alias Destination</label>
                                @Html.EditorFor(x => x.TransfersFiduciaryDestination.Alias, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            <div class="mt-1 mb-3">
                                <label class="form-control-label">Account Number Destination</label>
                                @Html.EditorFor(x => x.TransfersFiduciaryDestination.AccountNumber, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-success" id="btnGuardar">Send</button>
                </div>
            }
        </div>
    </div>
</div>
<script src="~/js/Transfers/Transfers.js"> </script>