@model SofttekFinalProjectFrontend.ViewModels.WithDrawViewModel

<div class="modal fade" id="withDrawFiduciaryModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">WithDraw.</h5>
            </div>
            @using (Html.BeginForm("SendWithDrawFiduciary", "WithDraws", FormMethod.Post))
            {
                <div class="modal-body">
                    <div class="row">
                       @Html.HiddenFor(x => x.UserId, new { id = "userIdHidden" })

                        <div class="col-md-6 mt-1 mb-3">
                            <label class="col-md-4 form-control-label">CBU: </label>
                            @Html.EditorFor(x => x.WithDrawMoneyFiduciary.cbu, new { htmlAttributes = new { @class = "col-md-8 form-control" } })
                        </div>
                        <div class="col-md-6 mt-1 mb-3">
                            <label class="col-md-4 form-control-label">Alias</label>
                            @Html.EditorFor(x => x.WithDrawMoneyFiduciary.alias, new { htmlAttributes = new { @class = "col-md-8 form-control" } })
                        </div>
                        <div class="col-md-6 mt-1 mb-3">
                            <label class="col-md-4 form-control-label">Account Number</label>
                            @Html.EditorFor(x => x.WithDrawMoneyFiduciary.accountNumber, new { htmlAttributes = new { @class = "col-md-8 form-control" } })
                        </div>
                        <div class="col-md-6 mt-1 mb-3">
                            <label class="col-md-4 form-control-label">Amount</label>
                            @Html.EditorFor(x => x.WithDrawMoneyFiduciary.amount, new { htmlAttributes = new { @class = "col-md-8 form-control" } })
                        </div>
                        <div class="col-md-6 mt-1 mb-3">
                            <label class="col-md-4 form-control-label">Type Of WithDraw</label>
                            @Html.EditorFor(x => x.WithDrawMoneyFiduciary.typeOfWithDraw, new { htmlAttributes = new { @class = "col-md-8 form-control" } })
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-success" id="btnGuardar">Send</button>
                </div>
            }
        </div>
    </div>
</div>
<script src="~/js/WithDraws/WithDraws.js"> </script>