@model SofttekFinalProjectFrontend.ViewModels.DepositViewModel

<div class="modal fade" id="depositsFiduciaryModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Deposit.</h5>
            </div>
            @using (Html.BeginForm("SendDepositFiduciary", "Deposits", FormMethod.Post))
            {
                <div class="modal-body">
                    <div class="row">
                        @Html.HiddenFor(x => x.UserId, new { id = "userIdHidden" })

                        <div class="col-md-6 mt-1 mb-3">
                            <label class="col-md-4 form-control-label">CBU: </label>
                            @Html.EditorFor(x => x.DepositFiduciary.cbu, new { htmlAttributes = new { @class = "col-md-8 form-control" } })
                        </div>
                        <div class="col-md-6 mt-1 mb-3">
                            <label class="col-md-4 form-control-label">Alias: </label>
                            @Html.EditorFor(x => x.DepositFiduciary.alias, new { htmlAttributes = new { @class = "col-md-8 form-control" } })
                        </div>
                        <div class="col-md-6 mt-1 mb-3">
                            <label class="col-md-4 form-control-label">Account Number: </label>
                            @Html.EditorFor(x => x.DepositFiduciary.accountNumber, new { htmlAttributes = new { @class = "col-md-8 form-control" } })
                        </div>
                        <div class="col-md-6 mt-1 mb-3">
                            <label class="col-md-4 form-control-label">Amount: </label>
                            @Html.EditorFor(x => x.DepositFiduciary.amount, new { htmlAttributes = new { @class = "col-md-8 form-control" } })
                        </div>
                        <div class="col-md-6 mt-1 mb-3">
                            <label class="col-md-4 form-control-label">Type Of Deposit: </label>
                            @Html.EditorFor(x => x.DepositFiduciary.typeOfDeposit, new { htmlAttributes = new { @class = "col-md-8 form-control" } })
                        </div>                    
                        <div class="col-md-6 mt-1 mb-3">
                            <label class="col-md-4 form-control-label">Name Of Crypto: (Optional)</label>
                            @Html.EditorFor(x => x.DepositFiduciary.nameOfCrypto, new { htmlAttributes = new { @class = "col-md-8 form-control" } })
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-success" id="btnGuardar">Send</button>
                </div>
            }
        </div>
    </div>
</div>
<script src="~/js/Deposits/Deposits.js"> </script>