@model SofttekFinalProjectFrontend.ViewModels.DepositViewModel

<div class="modal fade" id="depositsCryptoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Deposit.</h5>
            </div>
            @using (Html.BeginForm("SendDepositCrypto", "Deposits", FormMethod.Post))
            {
                <div class="modal-body">
                    <div class="row">
                        @Html.HiddenFor(x => x.UserId, new { id = "userIdHidden" })

                        <div class="col-md-6 mt-1 mb-3">
                            <label class="col-md-4 form-control-label">UUID: </label>
                            @Html.EditorFor(x => x.DepositCrypto.uuid, new { htmlAttributes = new { @class = "col-md-8 form-control" } })
                        </div>
                        <div class="col-md-6 mt-1 mb-3">
                            <label class="col-md-4 form-control-label">Name of Crypto: </label>
                            @Html.EditorFor(x => x.DepositCrypto.nameOfCrypto, new { htmlAttributes = new { @class = "col-md-8 form-control" } })
                        </div>
                        <div class="col-md-6 mt-1 mb-3">
                            <label class="col-md-4 form-control-label">Amount: </label>
                            @Html.EditorFor(x => x.DepositCrypto.amount, new { htmlAttributes = new { @class = "col-md-8 form-control" } })
                        </div>
                        <div class="col-md-6 mt-1 mb-3">
                            <label class="col-md-4 form-control-label">Type of Deposit: </label>
                            @Html.EditorFor(x => x.DepositCrypto.typeOfDeposit, new { htmlAttributes = new { @class = "col-md-8 form-control" } })
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-success" id="btnGuardar">Send</button>
                </div>
            }
        </div>
    </div>
</div>
<script src="~/js/Deposits/Deposits.js"> </script>